@charset "UTF-8";
/*using UTF-8 so all characters can be correctly used*/

/*styling for body, choosing a more attractive font for viewers eyes, simplified the background gradient*/
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, lightpink 0%, lightblue 100%);
  margin: 0;
  padding: 0;
}

/*styling for figure, */
figure {
  background-color: skyblue;
  border: 4px solid skyblue;
  display: inline-block; /*this keeps the figure only as big as the image itself, useful for keeping everything together*/
  margin: 0; 
  padding: 0;
}

/*styling for figure caption*/
figcaption {
    font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px; /*keeps the figure caption slightly separate from bottom of figure*/
}

/*article styling*/
article {
  text-align: left;
  margin-top: 20px;
}

/*styling the highlight colour/weight when used in article*/
article mark {
    background-color: skyblue;
    font-weight: bold;
}

/*all headings/paragraphs assigned the font Poppins or sans-serif*/
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
}

/*styling play button, kept basically the same as assignment 1*/
.playbutton {
  background-color: skyblue;
  color: black;
  height: 40px;
  border: 4px white solid;
  box-shadow: 4px 4px 12px darkgrey;
  border-radius: 20px;
  padding: 0 20px; /*sets padding only for right and left values*/
}

/*styling play button during the event that it is hovered over*/
.playbutton:hover {
  background-color: darkgrey;
  color: white;
  opacity: 0.8;
  transform: scale(1.05); /*makes the button larger when hovered over*/
}
