
@charset "UTF-8";
/*global styles, access to wide character set*/


/* The body tag style applies to all elements on the page */
/* Global font and background */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, lightpink 0%, lightblue 100%);
    margin: 0;
    padding: 0;
}

/* Figure styling */
figure {
    background-color: black;
    border: 4px solid darkslateblue;
    display: inline-block;
    margin: 0 auto;
}

figcaption {
    color: black;
    text-align: center;
    font-size: small;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Article text */
article {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

/* Play button styling */
.playbutton {
    background-color: darkslateblue;
    color: white;
    height: 40px;
    border: 2px white solid;
    box-shadow: 10px 10px 5px black;
    border-radius: 5px;
    margin-top: 10px;
}

.playbutton:hover {
    background-color: darkgrey;
    color: black;
    opacity: 0.5;
}

/* Footer styles are fine */
#mainfooter, #aboutfooter {
    text-align: center;
    padding: 10px;
}