<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Adding icon to tab where title is located-->
    <link rel="icon" type="image/png" href="/Asset/images/haneen-bitmoji.png" width="64" height="64">
    <!--Linking my own stylesheet as well as bootstrap and fortawesome stylesheet for icons-->
    <link rel="stylesheet" href="/Content/app.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <!--Referencing javascript files-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--Linking "Poppins" font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">

    
  </head>
  <body class="d-flex flex-column min-vh-100">