<%- include ./partials/header.ejs %>
    <!--Header / Navbar-->
    <%- include ./partials/main_nav.ejs %>

    <!--Main Content-->
    <main class="flex-fill">
      
    </main>

    <!-- Footer / Navbar -->
    <%- include ./partials/footer.ejs %>