<!-- Header / Navbar -->
<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<!-- Main Content -->
<main>
  <!-- Wrapper container-fluid for full width -->
  <div class="container-fluid py-5">

    <!-- Intro Text Section -->
    <div class="row justify-content-center mb-5">
      <div class="col-11 col-md-8 col-lg-6 text-center">
        <div class="bg-light p-4 rounded shadow-sm">
          <h3>
            Welcome to my portfolio! Here you can learn more about myself, my projects,
            and even contact me for further questions! Feel free to use the navigation
            or buttons below to walk through the site!
          </h3>
        </div>
      </div>
    </div>

    <!-- Icon Row -->
    <div class="row justify-content-center text-center g-4">
      <!-- Contact -->
      <div class="col-10 col-sm-6 col-md-4 col-lg-3">
        <a href="contactme">
          <img src="/Asset/images/mail-icon.jpg" class="img-fluid rounded shadow" title="Contact Me" alt="Contact Icon">
        </a>
      </div>

      <!-- Projects -->
      <div class="col-10 col-sm-6 col-md-4 col-lg-3">
        <a href="projects">
          <img src="/Asset/images/pencil-icon.jpg" class="img-fluid rounded shadow" title="My Projects" alt="Projects Icon">
        </a>
      </div>

      <!-- About Me -->
      <div class="col-10 col-sm-6 col-md-4 col-lg-3">
        <a href="about">
          <img src="/Asset/images/question-icon.jpg" class="img-fluid rounded shadow" title="About Me" alt="About Icon">
        </a>
      </div>
    </div>
    
  </div>
</main>

<!-- Footer / Navbar -->
<%- include ./partials/footer.ejs %>
